name: issue-comment-workflow

on:
  issue_comment:
    types: [created]

jobs:
  print-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Print issue/PR number and comment
        run: |
          echo "Number: ${{ github.event.issue.number }}"
          echo "Comment:"
          echo "${{ github.event.comment.body }}"
